@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply the variables */
body {
  @apply bg-white text-black;
  background-color: var(--bg-color);
  color: var(--text-color);
}

body.dark {
  @apply bg-gray-900 text-white;
  background-color: var(--bg-color);
  color: var(--text-color);
}

input, textarea {
  @apply bg-gray-200 border-gray-300;
  background-color: var(--input-bg-color);
  border-color: var(--input-border-color);
}

body.dark input, body.dark textarea {
  @apply bg-gray-700 border-gray-600;
  background-color: var(--input-bg-color);
  border-color: var(--input-border-color);
}

.my-masonry-grid {
  display: flex;
  margin-left: -30px; /* Adjust the gutter size */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* Adjust the gutter size */
  background-clip: padding-box;
}

/* Optional: Styling for individual posts within the masonry grid */
.my-masonry-grid_column > div {
  margin-bottom: 30px; /* Adjust the bottom margin */
}
